################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoConsoleApp/TodoConsoleApp/obj
/TodoConsoleApp/TodoConsoleApp/bin/Debug/net9.0
/TodoConsoleApp/.vs
